/*Global*/

html, body {
  margin: 0 auto;
  padding: 0;
  font-size: 6px;
  background: rgb(255, 242, 242);
  color: rgb(32, 64, 86);
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.card h1 {
  font-weight: 900;
  font-size: 7rem;
  color: white;
}

#main {
  width: auto;
  clear: both;
}


/*Columns*/

#columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5.25rem;
  flex-wrap: nowrap;
}


/*Column left*/

#col-left {
  float: left;
  flex: 1 30%;
  min-width: 100px;
  margin-right: 30px;
}

#col-left .content h6 {
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  #columns {
    flex-wrap: wrap;
  }
  #col-left .content {
    margin-bottom: 5rem;
  }
}


/*Column right*/

#col-right {
  float: right;
  flex: 0 70%;
}

#col-right .cards {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

#col-right .cards .row {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  overflow: hidden;
  margin-bottom: -6px;
}

#col-right .cards .card {
  width: 10rem;
  height: 10rem;
  border-radius: 2px;
  margin: 4px;
  padding: 10px;
  background-color: rgb(32, 64, 86);
}

@media only screen and (max-width: 400px) {
  #col-right .cards {
    margin: 0 auto;
    width: 70%;
  }
  #col-right .cards .card {
    margin: 2px;
    width: 10rem;
    height: 7rem;
    padding: 2px;
  }
}

.highlight {
  color: white;
}


/*Global*/


/*Global*/


/*Global*/


/*Global*/


/*Global*/


/*Global*/
